{% extends 'home/base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js" integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock head %}
{% block content %}
{% load static %}
{% include 'include/alert.html' %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}
<style media="print">
    .hide{
        display: none;
    }
</style>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main_box{
        width: 600px;
        margin:  0 auto;
        text-align: center;
        color: black;
        border: 1PX SOLID black;
        div{
            z-index: 1321231;
        }
    }
    .shope_name{
        text-transform: uppercase;
        z-index: 1;
        color: rgb(255, 0, 0);
        font-size: 50px;
        font-weight: 700;

    }
    .address{
        font-weight: 500;
        margin: 0 auto;
        font-size: 25px;
    }

    .flex{
        display: flex;
        justify-content: center;
    }
    .vehicale_number{
        text-transform: uppercase;
    }
    .contact_details{
        line-height: 0px;
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .containt_box{
        font-size: 20px;
        position: relative;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        border-top: 1px solid black;
        background-image: url("{% static 'img/new_banana.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;


        .div1{
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .div2{
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .div3{
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .div4{
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .div5{
            border-bottom: 1px solid black;
        }

        img{
            position: absolute;
            opacity: 0.5;
            width: 400px;
            z-index: -533;
        }
    }
    #total_amount_words{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        padding: 5px;

    }
    </style>




<div>
        
        
    <div class="main_box" id="canvas">
    <div class="shope_name">{{e.shope.shope_name}}</div>
    <div class="address"><p>{{e.shope.address}}</p></div>
    <div class="contact_details"><b>{{e.shope.contact_details}}</b></div>
    <div class="flex p-3 " style="justify-content: space-between;">
        <div>बिल नं. <b>{{bill.company_bill_number}}</b></div>
        <div>{{bill.added_date}}</div>
    </div>
    <div class="mb-3">To  <b> {{bill.company.name}}</b></div>
    
    <div class="containt_box">
        <div class="div1" style="font-weight: 700;">Particulars</div>
        <div class="div2" style="font-weight: 700;">No of Box / Crates </div>
        <div class="div3" style="font-weight: 700;">Net Weight</div>
        <div class="div4" style="font-weight: 700;">Rate</div>
        <div class="div5" style="font-weight: 700;">Total Amount</div>

        <div class="div1">Banana (Prod.Cost)</div>
        <div class="div2">{{bill.product_cost_box}}</div>
        <div class="div3">{{bill.product_cost_net_weight}}</div>
        <div class="div4">{{bill.product_cost_rate}}</div>
        <div class="div5"><b>{{bill.product_cost_total_amount}}</b></div>
        
        <div class="div1">C. Class (Wastage)</div>
        <div class="div2"> </div>
        <div class="div3">{{bill.wastage_weight}}</div>
        <div class="div4">{{bill.wasteage_rate}}</div>
        <div class="div5"><b>{{bill.wasteage_total_amount}}</b></div>
        
        <div class="div1">Stalk Weight 8%</div>
        <div class="div2"> </div>
        <div class="div3">{{bill.stalk_net_weight}}</div>
        <div class="div4">{{bill.wasteage_rate}}</div>
        <div class="div5"><b>{{bill.stalk_total_amount}}</b></div>
        
        <div class="div1">Ph. Rejection</div>
        <div class="div2"> </div>
        <div class="div3"></div>
        <div class="div4"></div>
        <div class="div5"></div>
        
        <div class="div1">Transport Cost</div>
        <div class="div2">{{bill.transport_box}}</div>
        <div class="div3"></div>
        <div class="div4">{{bill.transport_rate}}</div>
        <div class="div5"><b>{{bill.transport_total_amount}}</b></div>
        
        <div class="div1">Service Charge</div>
        <div class="div2">{{bill.product_cost_box}}</div>
        <div class="div3">{{bill.service_net_weight}}</div>
        <div class="div4">{{bill.service_rate}}</div>
        <div class="div5"><b>{{bill.service_total_amount}}</b></div>
        
        <div class="div4" style="grid-column-start: 1;grid-column-end: 5;">Total</div>
        <div class="div5"><b>{{bill.total_amount}}</b></div>
    </div>

    <div id="total_amount_words">{{total_amount_words}}</div>
    <div style="width: fit-content;margin-right: auto;">
        <div class="text-center">
            <div><img style="width: 100px;" src="{{signature.image.url}}" alt=" "></div>
            <div>{{e.shope.shope_name}}</div>
        </div>
    </div>

    <div class="text-center mt-3">
        <h6 style="font-size: 13px;"><a href="https://bookkaryalay.com/contact_us/" style="text-decoration: none;color: black;">सर्व प्रकारचे बारकोड व बिलिंग सॉफ्टवेअर तयार करून मिळतील &nbsp; PRASANNA DIGITAL - 9730991252</a></h6>
    </div>
    
    </div>

    <br>
    <div class="text-center hide">
        <button class="btn btn-primary" onclick="createPDF()">download pdf</button>
    </div>

</div>

<script>
    function createPDF() {
    var pdf = document.getElementById("canvas");
    var opt = {
        margin: 0,
        filename: '{{bill.company.name}} '+new Date().toLocaleString()+' .pdf',
        image: { type: 'jpeg', quality: 5000 },
        html2canvas: { scale: 1.5 },
        jsPDF: { unit: 'in', format: 'a4', orientaion: 'portrait' }
    };
    html2pdf().set(opt).from(pdf).save();
}
</script>


{% endblock content %}