{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}
{% include 'include/alert.html' %}
<div class="container text-center">
    <a href="/login/" class="btn btn-primary">Login</a>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sPyAQQklc1s?si=Khw9779985-LfAIZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<!-- <iframe src="https://neptub.com/3d-virtual-tour/" style="width: 500px;height: 500px;" ></iframe> -->

{% endblock content %}