{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}
<br>



<div class="container">
    {% load office_tag %}

    <style>
        .bill_box{
            width: 100%;
            border: 1px solid black;
            padding: 10px;
        }
        .flex{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .product_cost, .Wastage, .Stalk,.Transport, .Service{
            background-color: rgb(136, 255, 255);
            margin-top: 10px;
            border-radius: 10px;
            padding: 10px;
            .mb-3{
                border-radius: 5px;
                border: 1px solid black;
            }
        }
    
        .input-group-text{
            border-right: 2px solid black;
            background-color: rgb(255, 207, 162);
            width: 200px;
        }
        .read_only_input{
            background-color: rgb(255, 207, 162);
            }
    </style>
    <div class="bill_box">
        <div class="text-center"><h5><b>Company  Bill Details</b></h5></div>
        <br>
        <div class="flex">
            <div style="width: 80%;"><input type="text" value="{{bill.company.name}}" oninput="check_company(company_name.value)" id="company_name" class="form-control" step="any" placeholder="Company Name"></div>
            <div id="company_cut_btn_box"><button onclick="close_company()" class="btn btn-transperent text-danger"><b>X</b></button></div>
            <div id="company_add_btn_box" style="display: none;"><button onclick="save_company(company_name.value)" class="btn btn-primary">Add</button></div>
        </div>
        
        
        <div id="company_ruselt"></div>
        <form method="POST">{% csrf_token %}
        <input type="hidden" name="company_id" id="company_id" value="{{bill.company_id}}">
        <input type="hidden" name="farmer_bill_id" value="{{bill.id}}">
        
        <!--?------------------------------------------------------------------->
        <div class="product_cost">
            <div class="text-center"><b>Banana (Prod.Cost)</b></div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">No of Box / Crates</span>
                <input type="number" aria-label="First name" name="product_cost_box" value="{{bill.product_cost_box}}" class="form-control read_only_input" readonly>
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Net Weight</span>
                <input type="number" name="product_cost_net_weight" id="product_cost_net_weight" value="{{bill.product_cost_net_weight}}" aria-label="First name" class="form-control read_only_input" readonly>
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Rate</span>
                <input type="number" value="{{bill.product_cost_rate}}" aria-label="First name" class="form-control" step="any" name="product_cost_rate" id="product_cost_rate" oninput="document.getElementById('product_cost_total_amount').value = (Number(product_cost_rate.value) * Number(product_cost_net_weight.value))" >
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">Total Amount</span>
                <input type="number" aria-label="First name" name="product_cost_total_amount" id="product_cost_total_amount" style=font-weight:700; value="{{bill.product_cost_total_amount}}" class="form-control read_only_input" readonly>
            </div>
        </div>
        
        <!--TODO------------------------------------------------------------------->
        <div class="Wastage">
            <div class="text-center"><b>C. Class (Wastage)</b></div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Net Weight</span>
                <input type="number"  aria-label="First name" name="wastage_weight" value="{{bill.wastage_weight}}" class="form-control read_only_input" readonly>
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Rate</span>
                <input type="number" value="{{bill.wasteage_rate}}" aria-label="First name" class="form-control" step="any" name="wasteage_rate" id="wasteage_rate" oninput="document.getElementById('wasteage_total_amount').value = (Number(wasteage_rate.value) * Number('{{bill.wastage_weight}}'))" >
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">Total Amount</span>
                <input type="number" aria-label="First name" name="wasteage_total_amount" id="wasteage_total_amount" step="any" style=font-weight:700; value="{{bill.wasteage_total_amount}}" class="form-control read_only_input" readonly>
            </div>
        </div>
        <!--TODO------------------------------------------------------------------>
        
        <div class="Stalk">
            <div class="text-center"><b>Stalk Weight 8%</b></div>
    
            <div class="input-group mb-3" >
                <span class="input-group-text">Net Weight</span>
                <input type="number" value="{{bill.stalk_net_weight}}" aria-label="First name" name="stalk_net_weight" id="stalk_net_weight" class="form-control read_only_input" readonly>
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Rate</span>
                <input type="number" value="{{bill.stalk_rate}}" aria-label="First name" class="form-control" step="any" name="stalk_rate" id="stalk_rate" oninput="document.getElementById('stalk_total_amount').value = (Number(stalk_rate.value) * Number(stalk_net_weight.value))" >
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text">Total Amount</span>
                <input type="number" aria-label="First name" name="stalk_total_amount" step="any" id="stalk_total_amount" style=font-weight:700; value="{{bill.stalk_total_amount}}" class="form-control read_only_input" readonly>
            </div>
        </div>
    <!--TODO----------------------------------------------------------------->
    <div class="Transport">
        <div class="text-center"><b>Transport Cost</b></div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">No of Box / Crates</span>
            <input type="number" aria-label="First name" value="{{bill.transport_box}}" name="transport_box" id="transport_box" class="form-control read_only_input" readonly>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Rate</span>
            <input type="number" value="{{bill.transport_rate}}" aria-label="First name" class="form-control" step="any" name="transport_rate" id="transport_rate" oninput="document.getElementById('transport_total_amount').value = (Number(transport_rate.value) * Number(transport_box.value))" >
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Total Amount</span>
            <input type="number" aria-label="First name" name="transport_total_amount" id="transport_total_amount" style=font-weight:700; value="{{bill.transport_total_amount}}" class="form-control read_only_input" readonly>
        </div>
    </div>
    <img src="" alt="">
    <!-- TODO ------------------------------------------------------------------->
    <div class="Service">
        <div class="text-center"><b>Service Charge</b></div>
    
        <div class="input-group mb-3">
            <span class="input-group-text">No of Box / Crates</span>
            <input type="number" name="service_box" aria-label="First name" value="{{bill.transport_box}}" class="form-control read_only_input" readonly>
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text">Net Weight</span>
            <input value="{{bill.service_net_weight}}" type="number" name="service_net_weight" id="service_net_weight" aria-label="First name" oninput="document.getElementById('service_total_amount').value = (Number('{{bill.transport_box}}') * Number(service_net_weight.value) * Number(service_rate.value)) " class="form-control ">
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text">Rate</span>
            <input type="number" value="{{bill.service_rate}}" aria-label="First name" class="form-control" step="any" name="service_rate" id="service_rate" oninput="document.getElementById('service_total_amount').value = (Number('{{bill.transport_box}}') * Number(service_net_weight.value) * Number(service_rate.value)) " required>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Total Amount</span>
            <input type="number" aria-label="First name" name="service_total_amount" id="service_total_amount" style=font-weight:700; value="{{bill.service_total_amount}}" class="form-control read_only_input" readonly>
        </div>
    </div>
    <!--// ------------------------------------------------------------------->
    <br>
    <div class="text-enter ">
        <button type="submit" class="btn btn-danger" name="edit_company_bill">Edit</button>
    </div>
    </form>
    </div>
    

</div>
<br><br><br><br><br>
<script>


    function close_company(){
        document.getElementById('company_name').value = ''
        document.getElementById('company_add_btn_box').style.display = 'flex'
        document.getElementById('company_cut_btn_box').style.display = 'none'
    }
    function select_company(c_name,c_id){
        document.getElementById('company_add_btn_box').style.display = 'none'
        document.getElementById('company_cut_btn_box').style.display = 'flex'
        document.getElementById('company_name').value = c_name;
        document.getElementById('company_id').value = c_id;
        document.getElementById('company_ruselt').innerHTML = ''
    }
    function check_company(name){
        $.ajax({
        url: "{% url 'check_company' %}",
        method: "GET",
        data:{
                    name:name,
                    shope_id:'{{e.shope.id}}'
                },
                    success: function(res){
                        if (res.status == 1){                            
                            document.getElementById('company_add_btn_box').style.display = 'none'
                            document.getElementById('company_cut_btn_box').style.display = 'flex'
                        }
                        if (res.status == 0){
                             document.getElementById('company_add_btn_box').style.display = 'flex'
                            document.getElementById('company_cut_btn_box').style.display = 'none'
                        }
                        document.getElementById('company_ruselt').innerHTML = ''
                        document.getElementById('company_ruselt').innerHTML = res.t
                    }
                })
            }
            function save_company(name){
                $.ajax({
                    url: "{% url 'save_company' %}",
                    method: "GET",
                    data:{
                        name:name,
                        shope_id:'{{e.shope.id}}'
                    },
                    success: function(res){
                        document.getElementById('company_add_btn_box').style.display = 'none'
                        document.getElementById('company_cut_btn_box').style.display = 'flex'
                        document.getElementById('company_name').value = name;
                        document.getElementById('company_id').value = res.id;
                        document.getElementById('company_ruselt').innerHTML = ''

                    }
                })
    }
</script>
{% endblock content %}















