{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}
<br>



<div class="container">
    <input type="text" class="form-control" placeholder="Search Farmer Bill" id="search_words" oninput="Search_farmer_bill(search_words.value)">

    <br>

    <div id="bill_ruselt"></div>
    <br>
    <div id="bill_box"></div>

</div>
<br><br><br><br><br>
<script>
    function check_input(){
        company_id = document.getElementById('company_id').value;

        product_cost_rate = document.getElementById('product_cost_rate').value;
        if(Number(product_cost_rate) > 0){}
        if(Number(product_cost_rate) < 0){
            product_cost_rate = document.getElementById('product_cost_rate').value = 0 ;
        }
        service_rate = document.getElementById('service_rate').value;
        if(Number(service_rate) > 0){}
        if(Number(service_rate) < 0){
            service_rate = document.getElementById('service_rate').value = 0 ;
        }
        transport_rate = document.getElementById('transport_rate').value;
        if(Number(transport_rate) > 0){}
        if(Number(transport_rate) < 0){
            transport_rate = document.getElementById('transport_rate').value = 0 ;
        }
        stalk_rate = document.getElementById('stalk_rate').value;
        if(Number(stalk_rate) > 0){}
        if(Number(stalk_rate) < 0){
            stalk_rate = document.getElementById('stalk_rate').value = 0 ;
        }
        wasteage_rate = document.getElementById('wasteage_rate').value;
        if(Number(wasteage_rate) > 0){}
        if(Number(wasteage_rate) < 0){
            wasteage_rate = document.getElementById('wasteage_rate').value = 0 ;
        }
        service_net_weight = document.getElementById('service_net_weight').value;
        if(Number(service_net_weight) > 0){}
        if(Number(service_net_weight) < 0){
            service_net_weight = document.getElementById('service_net_weight').value = 0 ;
        }
        
    if (product_cost_rate != '' && company_id != '' && service_rate != '' && transport_rate != '' && stalk_rate != '' && wasteage_rate != '' && service_net_weight != ''){
        document.getElementById('add_company_bill').style.display = 'unset'
    }
}

    function select_company(c_name,c_id){
        document.getElementById('company_btn_box').innerHTML=`<button onclick="close_company()" class="btn btn-transperent text-danger"><b>X</b></button>`
        document.getElementById('company_name').value = c_name;
        document.getElementById('company_id').value = c_id;
        document.getElementById('company_ruselt').innerHTML = ''
    }
    function check_company(name){
        $.ajax({
        url: "{% url 'check_company' %}",
        method: "GET",
        data:{
                    name:name,
                    shope_id:'{{e.shope.id}}'
                },
                    success: function(res){
                        document.getElementById('company_ruselt').innerHTML = ''
                        document.getElementById('company_ruselt').innerHTML = res.t
                    }
                })
            }
    function Search_farmer_bill(search_words){
        $.ajax({
        url: "{% url 'search_farmer_bill' %}",
        method: "GET",
        data:{
                    words:search_words,
                    shope_id:'{{e.shope.id}}'
                },
                    success: function(res){
                        document.getElementById('bill_ruselt').innerHTML = ''
                        document.getElementById('bill_ruselt').innerHTML = res.t
                    }
                })
            }
            function select_bill(bill_id){
                $.ajax({
                    url: "{% url 'select_bill' %}",
                    method: "GET",
                    data:{
                        bill_id:bill_id,
                        shope_id:'{{e.shope.id}}'
                    },
                    success: function(res){
                        document.getElementById('bill_ruselt').innerHTML = ''
                        document.getElementById('bill_box').innerHTML = ''
                        document.getElementById('bill_box').innerHTML = res.t

                    }
                })
                
            }
            function save_company(name){
                $.ajax({
                    url: "{% url 'save_company' %}",
                    method: "GET",
                    data:{
                        name:name,
                        shope_id:'{{e.shope.id}}'
                    },
                    success: function(res){
                        document.getElementById('company_btn_box').innerHTML=`<button onclick="close_company()" class="btn btn-transperent text-danger"><b>X</b></button>`
                        document.getElementById('company_name').value = name;
                        document.getElementById('company_id').value = res.id;
                        document.getElementById('company_ruselt').innerHTML = ''

                    }
                })
    }
</script>
{% endblock content %}















