{% load office_tag %}

<style>
    .total_box{
        width: 350px;
        display: grid;
        margin: 0   auto;
        padding: 5px;
        grid-template-columns: repeat(2, 1fr);

        div{
            border:1px solid black;
            text-align: center;
        }
        .total {

            font-weight: 500;
            grid-column-start:1 ;
            grid-column-end:3 ;

        }
        .heading{
            text-align: center;
            font-weight: 500;
            grid-column-start:1 ;
            grid-column-end:3 ;

        }
    }
</style>
<div class="total_box">
    <div class="heading">शेतकरी देणे बाकी</div>
        {% for u in all_users %}
            <div>{{u.name}}</div>
            <div style="border-left: none;">{% user_pending_bill_amount u.id %}</div>
        {% endfor %}
        <div class="total">एकूण {{total}} </div>
    </div>